<nav>
    <ul>
      <li *ngIf="nombreUsuario" class="user-info">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
          <span>{{ nombreUsuario }}</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Cerrar sesión</button>
        </mat-menu>
      </li>

    </ul>
    <li class="admin-button">
        <button mat-icon-button (click)="redirigirAdminUsuarios()">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </button>
      </li>
    <!-- barra de busqueda para usuarios -->
    <!-- <div class="search-container">
      <input type="text" [(ngModel)]="terminoBusqueda" (keyup.enter)="buscarPelicula()" placeholder="Buscar películas...">
      <button (click)="buscarPelicula()">Buscar</button>
    </div> -->
  </nav>




<div class="container">

    <h2 class="favorite-movies-title">Tus Películas Favoritas</h2>
    
    <div class="row">
      <div class="col-md-2" *ngFor="let pelicula of peliculasFavoritas">
        <div class="card" (click)="mostrarDetalle(pelicula)">
          <div class="card-img-container">
            <img class="card-img-top" [src]="pelicula.poster_path" alt="{{ pelicula.title }}">
            <div class="card-title-container">
              <h5 class="card-title">{{ pelicula.title }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


